@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

:root {
  --border-color: #000;
  --background-color: rgb(135, 135, 239);
  --border-radius: 0.25rem;
  --letter-color: #fff;
  --sound-color: rgb(243, 141, 0);
  --font: 'Baloo 2', cursive;
}
